<footer class="footer">
    <div class="container-lg">
        <div class="row mb-5">

            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">One Earth</h5>
                <p>Making sustainability accessible for UK SMEs.</p>
            </div>

            <div class="col-md-4 mb-4">
                <h6>Services</h6>
                <ul class="list-unstyled">
                    <li>ESG Materiality Assessment</li>
                    <li>Carbon Footprint Calculation</li>
                    <li>Sustainability Reporting</li>
                    <li>ISO 14001 Support</li>
                </ul>
            </div>

            <div class="col-md-4 mb-4">
                <h6>Contact</h6>
                <p>Email: hello@oneearth.co.uk</p>
                <p>UK Based Consultancy</p>
            </div>

        </div>

        <div class="text-center pt-3 border-top">
            <p class="mb-0">© 2025 One Earth Consulting. All rights reserved.</p>
        </div>
    </div>
</footer>
